*{
    margin:0;
    padding:0;
}

body{
    background-color: #171D1C;
    text-align: center;
}

h1{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3vmin;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    font-size: 8vmin;
    color: #6B0504;
    background-color: #B7B6C2;
}

#reset-btn{
    padding: 0.8rem;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    border: none;
    border-radius: 1rem;
}

#new-btn{
    padding: 0.8rem;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: aliceblue;
    font-size: 5vmin;
}

.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}

.hide{
    display: none;
}